.todo-container {
  position: absolute;
  top: 64px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.todo-sidenav {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding-right: 30px; 
  width: 250px;
  // background: #f4f4f4;
  // border-right: 1px solid #eaeaea;
}
